.search-results {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(149, 151, 153);
    min-height: 100vh;
   
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .searchresultcarddetails{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
  }